.left-side-container {
    background-color: #f44336;
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.company_name {
    padding-top: 90px;
    padding-left: 30px;
    color: white;
    font-size: 30px;
}

.list {
    padding-top: 70px;
    padding-left: 30px;
}

.list_item {
    list-style-type: none;
    font-size: 22px;
    line-height: 2;
    color: white;
    font-weight: bolder;
    padding-left: 16px;
    transition: 0.1s linear;
}

.list_item:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    width: 94%;
}